@ewoosoft:registry=https://pkgs.dev.azure.com/ewoosoft/_packaging/ewoosoft/npm/registry/
always-auth=true

; begin auth token
//pkgs.dev.azure.com/ewoosoft/_packaging/ewoosoft/npm/registry/:username=ewoosoft
//pkgs.dev.azure.com/ewoosoft/_packaging/ewoosoft/npm/registry/:_password=bnpmNG50cHZ4dHlmbTUzanpjcG9tajZwdGdmY2N2ajdkdXhiaWxmZ2pqb2VyNGpkM283cQ==
//pkgs.dev.azure.com/ewoosoft/_packaging/ewoosoft/npm/registry/:email=email
//pkgs.dev.azure.com/ewoosoft/_packaging/ewoosoft/npm/:username=ewoosoft
//pkgs.dev.azure.com/ewoosoft/_packaging/ewoosoft/npm/:_password=bnpmNG50cHZ4dHlmbTUzanpjcG9tajZwdGdmY2N2ajdkdXhiaWxmZ2pqb2VyNGpkM283cQ==
//pkgs.dev.azure.com/ewoosoft/_packaging/ewoosoft/npm/:email=email
; end auth token